{% extends "base.html" %}

{% block content %}
<h1>Log-in</h1>
<p>Нет аккаунта? <a href="{% url 'account:register' %}">Зарегестрируйтесь!</a></p>
{% if form.errors %}
<p>
    Логин и пароль не совпадают.
</p>
{% endif %}
<div class="login-form">
    <form method="POST" action="{% url 'account:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="Log-in">
    </form>
    <p>
        <a href="{% url 'account:password_reset' %}">Забыли пароль?</a>
    </p>
</div>
<div class="social">
    <ul>
        <li class="google">
            <a href="{% url 'social:begin' 'google-oauth2'%}">Зайти с Google</a>
        </li>
    </ul>
</div>
{% endblock %}